body {
  margin: 0;
  font-family: Arial;
  background: #f8f8f8;
}

header {
  background: #fc8019;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  background: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092");
  height: 300px;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.menu {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item {
  background: white;
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  animation: fade 1s;
}

.item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.item button {
  background: #fc8019;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.cart {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.order {
  background: green;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
}

@keyframes fade {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
